# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore distribution / packaging files
build/
dist/
*.egg-info/
.eggs/

# Ignore virtual environment directories
env/
venv/
ENV/
env.bak/
venv.bak/

# Ignore version control directories
.git/
.gitignore
.gitattributes

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore logs and databases
*.log
*.sql
*.sqlite

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore coverage reports
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Ignore Sphinx documentation
docs/_build/

# Ignore temporary files
*.tmp
*.temp
*.swp
*.swo
*.bak
*.orig
*.rej
*.sublime-project
*.sublime-workspace

# Ignore OS-specific files
.DS_Store
Thumbs.db
